<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="com.pushsignal" android:versionCode="12" android:versionName="1.20" android:installLocation="auto">

	<!-- C2DM functionality was added in SDK version 8 -->
	<uses-sdk android:minSdkVersion="8" android:targetSdkVersion="16" />n
	
	<permission android:name="com.pushsignal.permission.C2D_MESSAGE" android:protectionLevel="signature" />
	
	<uses-permission android:name="com.pushsignal.permission.C2D_MESSAGE" />
	<uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.VIBRATE" />
	<uses-permission android:name="android.permission.READ_CONTACTS" />
	<uses-permission android:name="android.permission.WAKE_LOCK" />
	<uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
	<uses-permission android:name="android.permission.GET_ACCOUNTS"/>
	
	<!-- To enable debugging, add this attribute: android:debuggable="true" -->
	<application android:label="@string/app_name" android:icon="@drawable/launcher" android:theme="@android:style/Theme.Light">
		<service android:name=".services.PushSignalService"
			android:label="@string/service_name" android:icon="@drawable/launcher">
		</service>
		<activity android:name=".activities.InitialActivity">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
		<activity android:name=".activities.MainActivity"
			android:label="@string/app_name" android:theme="@android:style/Theme.Light.NoTitleBar">
		</activity>
		<activity android:name=".activities.EventViewerActivity"/>
		<activity android:name=".activities.EventEditorActivity"/>
		<activity android:name=".activities.EventListActivity"/>
		<activity android:name=".activities.ActivityListActivity"/>
		<activity android:name=".activities.PublicEventListActivity"/>
		<activity android:name=".activities.TriggerRespondActivity"/>
		<activity android:name=".activities.TriggerViewerActivity"/>
		<activity android:name=".activities.LogInActivity"/>
		<activity android:name=".activities.SignUpActivity"/>
		
		<!-- Only GCM servers can send messages for the app. If permission is not set - any other app can generate it --> 
		<receiver android:name=".push.PushClientGcmImpl"
			android:permission="com.google.android.c2dm.permission.SEND">
		    <!-- Receive the actual message -->
		    <intent-filter>
		        <action android:name="com.google.android.c2dm.intent.RECEIVE" />
		        <category android:name="com.pushsignal" />
		    </intent-filter>
		    <!-- Receive the registration id -->
		    <intent-filter>
		        <action android:name="com.google.android.c2dm.intent.REGISTRATION" />
		        <category android:name="com.pushsignal" />
		    </intent-filter>
		</receiver>

		<!-- Start service at boot time -->
		<receiver android:name=".receivers.BootReceiver">
			<intent-filter>
				<action android:name="android.intent.action.BOOT_COMPLETED" />
			</intent-filter>
		</receiver>
	</application>
</manifest>