<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="com.pushsignal" android:versionCode="15" android:versionName="2.03" android:installLocation="auto">

	<!-- C2DM functionality was added in SDK version 8 -->
	<uses-sdk android:minSdkVersion="8" android:targetSdkVersion="16" />n
	
	<!-- App sends and receives GCM messages. -->
	<permission android:name="com.pushsignal.permission.C2D_MESSAGE" android:protectionLevel="signature" />
	<uses-permission android:name="com.pushsignal.permission.C2D_MESSAGE" />
	<uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
	<!-- GCM connects to Google Services. -->
	<uses-permission android:name="android.permission.INTERNET" />
	<!-- GCM requires a Google account. -->
	<uses-permission android:name="android.permission.GET_ACCOUNTS"/>
	<!-- Keeps the processor from sleeping when a message is received. -->
	<uses-permission android:name="android.permission.WAKE_LOCK" />
	<!-- Vibrate when notification is received (optional). -->
	<uses-permission android:name="android.permission.VIBRATE" />
	<!-- Default to user's email address when logging in. -->
	<uses-permission android:name="android.permission.READ_CONTACTS" />
	<!-- Allow service to start automatically at boot time. -->
	<uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
	
	<!-- To enable debugging, add this attribute: android:debuggable="true" -->
	<application android:label="@string/app_name" android:icon="@drawable/launcher">
		<service android:name=".services.PushSignalService"
			android:label="@string/service_name" android:icon="@drawable/launcher">
		</service>
		<service android:name=".push.PushClientGcmImpl" />

		<activity android:name=".activities.InitialActivity">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
		<activity android:name=".activities.MainActivity" android:label="@string/app_name"/>
		<activity android:name=".activities.EventViewerActivity"/>
		<activity android:name=".activities.EventEditorActivity"/>
		<activity android:name=".activities.EventListActivity"/>
		<activity android:name=".activities.ActivityListActivity"/>
		<activity android:name=".activities.PublicEventListActivity"/>
		<activity android:name=".activities.TriggerRespondActivity"/>
		<activity android:name=".activities.TriggerViewerActivity"/>
		<activity android:name=".activities.LogInActivity"/>
		<activity android:name=".activities.SignUpActivity"/>
		
		<receiver android:name="com.pushsignal.push.PushSignalGcmBroadcastReceiver" android:permission="com.google.android.c2dm.permission.SEND" >
			<intent-filter>
				<action android:name="com.google.android.c2dm.intent.RECEIVE" />
				<action android:name="com.google.android.c2dm.intent.REGISTRATION" />
				<category android:name="com.pushsignal" />
			</intent-filter>
		</receiver>
		
		<!-- Start service at boot time -->
		<receiver android:name=".receivers.BootReceiver">
			<intent-filter>
				<action android:name="android.intent.action.BOOT_COMPLETED" />
			</intent-filter>
		</receiver>
	</application>
</manifest>